body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.color {
	background-color:rgb(4, 145, 239);
	color: white;
	border: 3px solid rgb(8, 8, 148);
	font-size: medium;
	border-radius: 50px;
}

.place{
	background-color: yellow;
	color: black;
	padding: 10;
	font-size: medium;
	font: bolder;
	
}

.ritual{
	background-color: darkgoldenrod;
	color: black;
	padding: 10;
	font-size: medium;
	font: bolder;
}